<div class="well">
	<% @tables.each do |table| %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			Table
		</div>
		<div class="panel-body">
				<table class="table table-striped">
					<%= table.inspect %>
				</table>
		</div>
	<% end %>		
	</div>
	

	