.signup-form {
	width: 50%;
	margin: 120px auto 0;
	padding: 20px 50px 20px;
	overflow: hidden;
}
.import-csv  {
	width: 60%;
	margin: 120px auto 0;
	padding: 20px 50px 20px;
	overflow: hidden;
}

.show-list{
	width: 60%;
	margin-left: 20%;
}

td {
	  border-spacing: 100px;
}
tbody tr:nth-child(odd) {
  background: #eee;
}

